body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-color: rgb(78, 71, 71);
    font-family: 'Lucida Sans', monospace;
}

.button-box {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

button {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 25%;
    height: auto;
    border-radius: 8px;
}

img {
    border: .4em solid black;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

h1, h3 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
}

.score-banner {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: .2em;
}

.narrative-banner {
    text-align: center;
    color: white;
    font-size: 2.2em;
    font-weight: 700;
    padding: .2em;
    padding-top: .8em;
}
